$white-1: #ffffff;
$white-2: #dcddde;
$blue: #5865f2;
$green: #3ba55c;
$grey-1: #202225;
$grey-2: #2f3136;
$grey-3: #36393f;

* {
  margin: 0;
  box-sizing: border-box;
}

@mixin hov($color) {
  background-color: $color;
  border-radius: 30%;
  &::before {
    visibility: visible;
  }
}

body {
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  main {
    background-color: $grey-2;
    height: 100%;
    width: 100%;
  }
  nav {
    background-color: $grey-1;
    height: 100%;
    width: 70px;
    .side {
      margin: 10px;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: center;

      .items {
        display: flex;
        flex-direction: column;
        gap: 5px;
        // overflow-y: scroll;

        .item {
          aspect-ratio: 1/1;
          margin: 1px 0;
          // position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          height: fit-container;

          background-color: $grey-3;
          transition: border-radius 0.2s linear, background 0.06s linear;

          &::before {
            content: "";
            visibility: hidden;
            position: absolute;
            left: 0;
            width: 3px;
            height: 6px;
            border-radius: 0 3px 3px 0;

            background-color: $white-2;
            transition: all 0.1s ease-out;
          }

          .content {
            text-align: center;
            color: $white-2;
            user-select: none;
          }
        }

        .item:hover {
          @include hov($blue);

          &::before {
            background-color: $white-1;
            height: 18px;
          }
        }

        .item-active {
          @include hov($blue);
          &::before {
            height: 36px !important;
          }
        }

        .item-active:active,
        .item:active {
          margin: 2px 0 0;
        }
      }
      .btm {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .btn {
          aspect-ratio: 1/1;
          margin: 1px 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;

          background-color: $grey-3;
          transition: border-radius 0.2s linear, background 0.06s linear;

          &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 1.4px;

            background-color: $green;
          }

          .content {
            text-align: center;
            color: $white-2;
            user-select: none;
          }
        }
        .btn:hover {
          @include hov($green);
          &::after {
            background-color: $white-1;
          }
        }
        #btn-add {
          &::before {
            content: "";
            position: absolute;
            width: 1.4px;
            height: 14px;

            background-color: $green;
          }
          &:hover::before {
            background-color: $white-1;
          }
        }
      }
    }
  }
}
